<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <!-- Your bean definitions and configurations -->
    <context:component-scan base-package="com.bookWise" />

    <!-- Ensure transaction management is enabled with correct namespace -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="mainSessionFactory" />
        <property name="dataSource" ref="bookWise" />
    </bean>

    <bean id="bookWise" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/bookwise" />
        <property name="username" value="root" />
        <property name="password" value="seaface" />
    </bean>

    <!-- Add this definition in your spring-mvc-servlet.xml or your main Spring configuration file -->
    <bean id="mainSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="bookWise" />
        <property name="configLocations">
            <list>
                <value>classpath:common/config/hibernate-bookWise.cfg.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.dbcp.initialSize">300</prop>
                <prop key="hibernate.dbcp.maxActive">300</prop>
                <prop key="hibernate.dbcp.maxIdle">20</prop>
                <prop key="hibernate.dbcp.minIdle">20</prop>
            </props>
        </property>
    </bean>

    <!-- View resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="bookWiseDAOImpl" class="com.bookWise.dao.impl.BookWiseDAOImpl">
        <property name="sessionFactory" ref="mainSessionFactory" />
    </bean>

    <mvc:resources mapping="/resources/**" location="/resources/" />
    <!-- Enable annotation-driven MVC -->
    <mvc:annotation-driven />
</beans>
